<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="color: honeydew; background-color: blue; padding: 10px;border-radius: 6px;">
        hello <%= name %>
    </p>
<% names.forEach(name => { %>
 <p style="background-color: green;padding: 20px;border-radius: 10px; color: white;">

    <%= name %>
 </p>
<% }) %>
</body>
</html>